<template>
  <div class="centered">
    <h1>
      Diskuzní forum
    </h1>
    <form @submit.prevent="addOffer" class="forum">
      <div class="search-box">
        <input type="text" placeholder="Zprava.." v-model="text">
        <div class="button">
          <div class="btn">
            <input type="submit" value="Odeslat" />
          </div>
        </div>
      </div>
        householdId
        <div class="comments" v-if="showComments">
            <h4>Komentáře</h4>
            <div class="comment tady" v-for="(item, index, idx) in this.forum" :key="index">
                <Komentar :household="item.householdName" :message="item.text" >

                </Komentar>

                <PridatKomentar :uuid="uuid" v-if="idx === (Object.values(forum).length - 1)">

                </PridatKomentar>
            </div>
        </div>
    </form>
  </div>
</template>

<script>

import fontawesome from '@fortawesome/fontawesome';
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import fasolid from '@fortawesome/fontawesome-free-solid';
import faregular from '@fortawesome/fontawesome-free-regular';
import Komentar from '../components/Komentar'
import PridatKomentar from "../components/PridatKomentar";
import { db } from '@/firebase'


export default {
  name: 'diskuze',
    components: { FontAwesomeIcon, Komentar, PridatKomentar},
    data: function() {
    return {
        forum: [],
        text: "",
        showComments: true
    }
  },
    methods: {

        addOffer(){
console.log("klik")
            const returner = {
                householdId: this.$route.meta.user && this.$route.meta.user.householdId,
                text: this.text

            }

            db.ref("/forum").push(returner)
            alert(JSON.stringify(returner, null,4))
        }
  },
    created() {

        let ref= db.ref("/forum");
        ref.on("value", (snapshot) => {
            this.forum = snapshot.val()

            Object.values(this.forum).forEach( (val, idx) => {
                db.ref("/household/" + val.householdId).on("value", (snapsh) => {
                    //todo: magicke vytvareni prazneho pole, nemazat
                    if(!val.comments){
                        val.comments = []
                    }
                    val.householdName = JSON.parse(JSON.stringify(snapsh.val().name))
                    //nemazat logy..
                    console.log(snapsh.val().name)
                })
            } )
        })

    }
}
</script>

<style scoped lang="less">
  @import "../main.less";


  h1{
      color: @buttonColor;
    }
  .forum{
    .search-box{
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 2em;

      input[type=text]{
        width: calc(100% - 2em);
      }
    }
  }
</style>