<template>
    <div>
        <div v-if="loading"></div>
        <div v-else>
            <div id="domacnostContainer" v-if="domacnost">
                <div id="domacnostInfo">
                    <div class="flex-left">
                        <div class="user-images">
                            <img :src="domacnost.processedImages[0].url">
                        </div>
                    </div>
                    <div class="flex-right">
                        <div class="user-description">
                            <div class="row">
                                <div class="title">{{ domacnost.name }}</div>
                                <div class="flex-spacer"></div>
                                <div class="social-icons">
                                    <font-awesome-icon :icon="['fas', 'share-alt-square']"/>
                                </div>
                            </div>
                            <div class="row">
                                <table class="info-table">
                                    <tr>
                                        <td>Lokalita</td>
                                        <td><a href="#">{{ domacnost.location }}</a></td>
                                    </tr>
                                    <tr>
                                        <td>Založeno</td>
                                        <td>Včera</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="row">
                                <p>
                                    {{ domacnost.bio }}
                                </p>
                            </div>
                            <div v-if="isOwner" class="button">
                                <router-link to="/pridat-nabidku">
                                    <div class="btn">
                                        <font-awesome-icon :icon="['fas', 'plus']"/>
                                        <input type="submit" value="Nová nabídka" />
                                    </div>
                                </router-link>
                                <router-link to="/pridat-napad">
                                    <div class="btn green">
                                        <font-awesome-icon :icon="['fas', 'flag']"/>
                                        <input class="green" type="submit" value="Přidat nápad" />
                                    </div>
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="domacnostExpander">
                    <div class="flex-left">
                        <div class="header">
                            <div class="title">Aktuální nabídka</div>
                            <div class="flex-spacer"></div>
                            <Nabidka :showComments="true" :uuid="offer.id" v-for="(offer, key) in offers" :key="key">
                            </Nabidka>
                        </div>
                    </div>
                    <div class="flex-right">
                        <div class="header">
                            <div class="title">Moje nápady</div>
                        </div>
                        <Napad :showComments="true" :uuid="offer.id" v-for="(offer, key) in ideas" :key="key">
                        </Napad>
                    </div>
                </div>
            </div>
            <div v-else>
                Domácnost nenalezena
            </div>
        </div>
    </div>
</template>

<script>
import fontawesome from '@fortawesome/fontawesome';
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import fasolid from '@fortawesome/fontawesome-free-solid';
import faregular from '@fortawesome/fontawesome-free-regular';
import { db, storage } from '@/firebase'
import Nabidka from '@/components/Nabidka'
import Napad from '@/components/Napad'
import Komentar from '@/components/Komentar'

fontawesome.library.add(fasolid, faregular);

export default {
  name: 'domacnost',
  components: { Nabidka, FontAwesomeIcon, Napad },
  props: {
      domacnostId: String,
  },
  data: function(){
      return {
          loading: true,
          domacnost: null,
          offers: [],
          ideas: []
      }
  },
  computed: {
      isOwner(){
          if (this.$route.meta.user && this.domacnostId == this.$route.meta.user.householdId){
              return true;
          }
          return false;
      }
  },
  created: function(){
      const loader = this.$loading.show();


      db.ref(`/household/${this.domacnostId}`).once("value", async snapshot => {
        if (snapshot.exists()){
            this.domacnost = snapshot.val();

            const promises = this.domacnost.images.map(image => storage.ref("/household/" + this.domacnost.user + "/" + image.storage).getDownloadURL());
            const results = await Promise.all(promises);

            this.domacnost["processedImages"] = results.map((image, i) => {
                return {
                   description: this.domacnost.images[i].description,
                   url: image 
                }
            });

            this.loading = false;
            loader.hide();
        }
        else {
            this.loading = false;
            loader.hide();
        }
      });

      db.ref("/offer").limitToLast(10).on("value", (snapshot) => {
          Object.values(snapshot.val()).map( (val, idx) => {
            if(this.$route.meta.user && val.householdId == this.$route.meta.user.householdId){
                val.id = Object.keys(snapshot.val())[idx]
                this.offers.push(val)
            }

          } )
      })
      db.ref("/idea").limitToLast(10).on("value", (snapshot) => {
          Object.values(snapshot.val()).map( (val, idx) => {
            if(this.$route.meta.user && val.householdId == this.$route.meta.user.householdId){
                val.id = Object.keys(snapshot.val())[idx]
                this.ideas.push(val)
            }

          } )
      })
  }
}
</script>

<style scoped lang="less">
    @import "../main.less";

    #domacnostContainer {
        display: flex;
        flex-direction: column;
        width: 100%;

        #domacnostInfo {
            display: flex;
            width: calc(~"100% - 7em");
            padding: 2em 3.5em;
            border-bottom: 1.5px solid @borderSilver;

            & > * {
                width: 50%;
            }

            .flex-left {
                display: flex;
                position: relative;
                overflow: hidden;
                margin-right: 2em;

                .user-images {
                    width: 100%;
                    height: 350px;
                    display: flex;
                    background-color: @imageBackground;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }

            .flex-right {
                margin-left: 2em;
                display: flex;
                position: relative;
                color: @darkGray;

                .user-description {
                    margin-top: 2.5em;
                    width: 100%;

                    .row {
                        display: flex;
                        width: 100%;
                        margin-bottom: 1.5em;

                        .title, .social-icons {
                            font-size: 2em;
                            letter-spacing: .05em;
                            font-weight: bold;
                        }

                        .social-icons {

                            svg {
                                cursor: pointer;
                            }
                        }

                        .info-table {

                            td:nth-child(1n){
                                padding-right: 1em;
                            }

                            a {
                                color: @panelSkyBold;
                            }
                        }

                        .info-table, p {
                            font-size: 15.5px;
                        }
                    }
                }
            }
        }

        #domacnostExpander {
            display: flex;
            width: 100%;
            //width: calc(~"100% - 6em");
            padding: 0 3em;

            & > * {
                width: calc(~"50% - 4em - 1.5px");
                padding: 2em 0;
                color: @darkGray;

                .header {
                    display: flex;
                    flex-direction: column;

                    .title {
                        font-size: 20px;
                        font-weight: bold;
                        letter-spacing: .03em;
                    }
                }
            }

            .flex-left {
                border-right: 1.5px solid @borderSilver;
                padding-right: 2em;
            }

            .flex-right {
                padding-left: 2em;   
            }
        }
    }
</style>