<template>
  <div>
    <nav id="categories">
      <div class="row">
        <router-link class="category" to="/pridat-nabidku">
          <img src="../assets/menu-icons/pridat.svg" alt="pridat">
        </router-link>
        <router-link class="category" to="/vyhledat">
          <img src="../assets/menu-icons/vyhledat.svg" alt="vyhledat">
        </router-link>
      </div>
      <div class="row spacer">
        <router-link class="category" to="/diskuze">
          <img src="../assets/menu-icons/diskuze.svg" alt="diskuze">
        </router-link>
        <div class="row-spacer"></div>
        <router-link class="category" to="/jidlo">
          <img src="../assets/menu-icons/jidlo.svg" alt="jidlo">
        </router-link>
      </div>
      <div class="row">
        <router-link class="category" to="/udalosti">
          <img src="../assets/menu-icons/udalosti.svg" alt="udalosti">
        </router-link>
        <router-link class="category" to="/kalendar">
          <img src="../assets/menu-icons/kalendar.svg" alt="kalendar">
        </router-link>
      </div>
    </nav>

    <div class="offers">
      <Nabidka :showComments="true" :uuid="key" v-for="(offer, key) in offers" :key="key">
      </Nabidka>
    </div>
  </div>
</template>

<script>
import { db } from '@/firebase'
import Nabidka from '@/components/Nabidka.vue'
import PridatKomentar from '@/components/PridatKomentar.vue'

export default {
  name: 'home',
  data: function(){
    return {
      offers: [],
    }
  },
  components: {
      Nabidka,
      PridatKomentar,
  },
  methods: {
      fetchAllOffers: function () {
          let ref= db.ref("/offer");
          ref.on("value", (snapshot) => {
              this.offers = snapshot.val();
          })
      }
  },
    created () {
        this.fetchAllOffers()
    }
}
</script>

<style scoped lang="less">
  @import (once) "../main.less";
  nav#categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    margin-bottom: 2em;

    .row {
      display: flex;
      justify-content: space-around;
      width: 500px;
      margin: 10px 0;

      &.spacer {
        width: 600px;
      }

      .category {
        overflow: hidden;

        img {
          min-width: 90px;
          height: 90px
        }
      }
    }
  }
  .offers{
    border: 1px solid @lightGray;
    max-width: 1000px
  }
</style>