<template>
        <form @submit.prevent="addOffer" class="centered" ref="form">
            <div class="inputs">
                <div class="left-col">
                    <div class="form-content">
                        <table>
                            <tbody>
                                <tr>
                                    <td colspan="2">
                                        <img src="../assets/placeholders/food.png">
                                        <input type="file" @change="processFile" accept="image/*" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="comment">Komenář</label>
                                    </td>
                                    <td>
                                        <textarea id="comment" v-model="comment" required>
                                        </textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
                <div class="right-col">
                    <div class="form-content">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <label for="name">Název</label>
                                    </td>
                                    <td>
                                        <input id="name" type="text" v-model="name" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="locality">Lokalita</label>

                                    </td>
                                    <td>
                                        <input id="locality" type="text" v-model="locality" required>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label for="category">Typ kategorie</label>

                                    </td>
                                    <td>

                                        <select id="category" v-model="category" required>
                                            <option disabled>vyberte</option>
                                            <option>Plodiny</option>
                                            <option>Darování</option>
                                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label for="payment">Typ předání</label>

                                    </td>
                                    <td>

                                        <select id="payment" v-model="payment" required>
                                            <option disabled>vyberte</option>
                                            <option>Výměna</option>
                                            <option>Darování</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="number">Množství</label>

                                    </td>
                                    <td>
                                        <input id="number" type="number" v-model="amount" required>
                                        <select id="unit" v-model="unit" required>
                                            <option disabled>vyberte</option>
                                            <option>Kg</option>
                                            <option>Litry</option>
                                            <option>Kusy</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="expire">Vyprší</label>
                                    </td>
                                    <td>
                                        <input id=expire type="date" v-model="expire" ref="date" required>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="button">
                <div class="btn">
                    <font-awesome-icon :icon="['fas', 'check']"/>
                    <input type="submit" value="Přidat záznam">
                </div>
            </div>
        </form>
</template>

<script>
import blobUtil from 'blob-util'
import { db, storage } from '@/firebase'

import fontawesome from '@fortawesome/fontawesome';
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import fasolid from '@fortawesome/fontawesome-free-solid';
import faregular from '@fortawesome/fontawesome-free-regular';

export default {
  name: 'pridat-nabidku',
  components: { FontAwesomeIcon },
    data: function(){
      return {
          name: "",
          locality: "",
          payment: "vyberte",
          amount: "vyberte",
          expire: "",
          comment: "",
          unit: "vyberte",
          category: "vyberte",
          file: null
      }
  },
  methods: {
      processFile(e){
            this.file = e.target.files[0]
        },
      addOffer(){
          const loader = this.$loading.show();
          const extension = this.file.name.substr(this.file.name.lastIndexOf("."));

          const returner = {
              name: this.name,
              householdId: this.$route.meta.user && this.$route.meta.user.householdId,
              locality: this.locality,
              payment: this.payment,
              amount: this.amount,
              unit: this.unit,
              expire: this.expire,
              comment: this.comment,
              category: this.category,
              image: "01" + extension,
              comments: []

          }

          db.ref("/offer").push(returner).then(snapshot => {
            // Nahrani obrazku
            const fileReader = new FileReader();
            fileReader.onloadend = e => {

                blobUtil.arrayBufferToBlob(e.target.result, this.file.type).then(blob => {
                    const storageRef = storage.ref("offer/" + this.$route.meta.user.uuid + "/01" + extension);

                    storageRef.put(blob).then(snapshot => {

                        loader.hide();
                        this.$router.push("/");
                    });
                })
            }

            fileReader.readAsArrayBuffer(this.file); 
          });
      }
  },
  created() {
      //set actual date
      let date = new Date('2010-10-11T00:00:00+05:30');
      let dateFormat = date.getFullYear()  + '-' + (date.getMonth() + 1) + '-' + date.getDate()
      this.expire = dateFormat
  }
}
</script>

<style scoped lang="less">
    @import (once) "../main.less";


</style>