<template>
    <div class="login-signup">
      <h2>Registrace</h2>
      <div class="wrapper">
          <div class="left-flex">
            <form @submit.prevent="register">
                <div class="row">
                    <label>Rodina</label>
                    <input type="text" v-model="name" autofocus required>
                </div>
                <div class="row">
                    <label>Email</label>
                    <input type="email" v-model="email" required>
                </div>
                <div class="row">
                    <label>Heslo</label>
                    <input type="password" v-model="password" required>
                </div>
                <div class="row">
                    <label>Heslo znovu</label>
                    <input type="password" v-model="passwordAgain" required>
                </div>
                <div class="row">
                    <label>Popisek</label>
                    <textarea v-model="bio"></textarea>
                </div>
                <div class="row">
                    <label>Obec</label>
                    <input type="text" v-model="location" required>
                </div>
                <div class="row">
                    <label>Obrázek</label>
                    <input type="file" @change="processFile" accept="image/*" required>
                </div>
                <div class="row">
                    <label>Poloha</label>
                    <button v-if="!geoLocationNotice" @click.prevent="getGeolocation">Získat souřadnice</button>
                    <span v-else>{{ geoLocationNotice }}</span>
                </div>
                <div class="row">
                    <input type="submit" value="Registrovat">
                </div>
            </form>
          </div>

          <div class="right-flex">
              
          </div>
      </div>
  </div>
</template>

<script>
import blobUtil from 'blob-util'
import { db, storage, auth } from '@/firebase'

export default {
  name: 'registrace',
  data: function(){
      return {
          name: "",
          email: "",
          file: "",
          password: "",
          passwordAgain: "",
          bio: "",
          location: "",
          geoLocation: [null, null],
          geoLocationNotice: null
      }
  },
  methods: {
    processFile(e){
        this.file = e.target.files[0]
    },
    getGeolocation(){
        if (!navigator.geolocation){
            this.geoLocationNotice = "Souřadnice se nepodařilo získat";
        }
        else {
            navigator.geolocation.getCurrentPosition(
                position => {
                    const latitude  = position.coords.latitude;
                    const longitude = position.coords.longitude;

                    this.geoLocation = [latitude, longitude];
                    this.geoLocationNotice = `Získané souřadnice [${this.geoLocation[0]},${this.getGeolocation[1]}]`;
                },
                () => {
                    this.geoLocationNotice = "Souřadnice se nepodařilo získat";
                }
            );
        }
    },
    register(){
        if (this.password != this.passwordAgain){
            alert("Hesla se neschodují");
            return false;
        }

        const loader = this.$loading.show();

        // Vytvoreni uzivatele
        auth.createUserWithEmailAndPassword(this.email, this.password).then(user => {

            // Nahrani profiloveho obrazku
            const fileReader = new FileReader();
            fileReader.onloadend = e => {

                blobUtil.arrayBufferToBlob(e.target.result, this.file.type).then(blob => {
                    const extension = this.file.name.substr(this.file.name.lastIndexOf("."));
                    const storageRef = storage.ref("household/" + user.uid + "/01" + extension);

                    storageRef.put(blob).then(snapshot => {

                        // Vytvoreni household zaznamu
                        db.ref("/household").push({
                            bio: this.bio,
                            images: [{ description: "Todo", storage: "01" + extension }],
                            location: this.location,
                            geoLocation: this.geoLocationNotice ? null : this.getGeolocation,
                            name: this.name,
                            user: user.uid
                        }).then((snapshot) => {

                            loader.hide();
                            this.$router.push("/");
                        }); 
                    });
                })
            }

            fileReader.readAsArrayBuffer(this.file); 
        });
    }
  }
}
</script>

<style scoped lang="less">
    @import (once) "../main.less";
</style>