<template>
        <form @submit.prevent="addOffer" class="centered" ref="form">
            <div class="inputs">
                <div class="right-col">
                    <div class="form-content">

                        <table>

                            <tbody>
                                <tr>
                                    <td>
                                        <label for="name">Název</label>
                                    </td>
                                    <td>
                                        <input id="name" type="text" v-model="name" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="message">Zpráva</label>
                                    </td>
                                    <td>
                                        <textarea id=message v-model="message" required placeholder="Zde napište svůj nápad..">
                                        </textarea>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="button">
                <div class="btn">
                    <font-awesome-icon :icon="['fas', 'check']"/>
                    <input type="submit" value="Přidat záznam">
                </div>
            </div>
        </form>
</template>

<script>
import { db, storage } from '@/firebase'

import fontawesome from '@fortawesome/fontawesome';
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import fasolid from '@fortawesome/fontawesome-free-solid';
import faregular from '@fortawesome/fontawesome-free-regular';

export default {
  name: 'pridat-napad',
  components: { FontAwesomeIcon },
    data: function(){
      return {
          name: "",
          message: "",
      }
  },
  methods: {
      addOffer(){
          let returner = {
              name: this.name,
              message: this.message,
              comments: [],
              householdId: this.$route.meta.user && this.$route.meta.user.householdId
          }

          if(this.$refs.form.checkValidity()){

              db.ref("/idea").push(returner)
              alert("přidano")
          }

          else{
              alert("Vyplnte vsechyn udaje")
          }
      }
  }
}
</script>

<style scoped lang="less">
    @import (once) "../main.less";


</style>