<template>
  <div class="login-signup">
      <h2>Přihlášení</h2>
      <div class="wrapper">
          <div class="left-flex">
            <form @submit.prevent="login">
                <div class="row">
                    <label>Email</label>
                    <input type="email" v-model="email" autofocus required>
                </div>
                <div class="row">
                    <label>Heslo</label>
                    <input type="password" v-model="password" required>
                </div>
                <div class="row">
                    <input type="submit" value="Přihlásit">
                </div>
            </form>
          </div>

          <div class="right-flex">
              
          </div>
      </div>
  </div>
</template>

<script>
import { auth } from '@/firebase'

export default {
    name: "prihlaseni",
    data: function(){
        return {
            email: "takhle@cosik.cz",
            password: "kamilka"
        }
    },
    methods: {
        login: function(){
            const loader = this.$loading.show();

            auth.signInWithEmailAndPassword(this.email, this.password).then(
                user => {
                    loader.hide();
                    this.$router.replace("/");
                },
                err => {
                    loader.hide();
                    alert("Nesprávné uživatelské jméno nebo heslo")
                }
            );
        }
    }
}
</script>

<style scoped lang="less">
    @import "../main.less";
</style>