<template>
    <div id="vyhledatContainer">
        <h2>Vyhledat na mapě</h2>

        <div id="mapContainer" ref="mapContainer"></div>

        <div class="filter-bar">
            <div class="select-filter">
                <label>Filtrovat</label>
                <select>
                    <option>Kategorie</option>
                </select>
            </div>
            <div class="flex-spacer"></div>
            <button class="confirm-button">
                <font-awesome-icon :icon="['fas', 'search']"/>
                Hledat
            </button>
        </div>
    </div>
</template>

<script>
import L from "leaflet"
import fontawesome from '@fortawesome/fontawesome';
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import fasolid from '@fortawesome/fontawesome-free-solid';
import faregular from '@fortawesome/fontawesome-free-regular';
import { db } from '@/firebase'

fontawesome.library.add(fasolid, faregular);

export default {
    name: "vyhledat",
    components: { FontAwesomeIcon },
    created: function(){
        const loader = this.$loading.show();
        this.$nextTick(function(){
            const osmUrl = 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
	 	    osmAttrib = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors',
	 	    osm = L.tileLayer(osmUrl, {
	 	        maxZoom: 12,
	 	        attribution: osmAttrib
             });
             
            const map = L.map(this.$refs["mapContainer"]).setView([49.820923, 18.262524], 13).addLayer(osm);
        
            db.ref("/household").once("value", snapshot => {
                for (let household of Object.values(snapshot.val())){
                    if (household.geoLocation){
                        L.marker(household.geoLocation, {
                            alt: "Geolokace" + household.name
                        }).addTo(map)
                            .bindPopup(household.name + " - " + household.location).openPopup();
                    }
                }

                loader.hide();
            });
        })
    }
}
</script>

<style scoped lang="less">
    @import "../main.less";

    #vyhledatContainer {
        width: 1000px;
        margin-bottom: 2em;

        h2 {
            color: #e8338b;
        }

        #mapContainer {
            width: 1000px;
            position: relative;
            background: white;
            border: 1px solid @borderSilver;    
            height: 400px;
            margin-bottom: 2em;
        }

        .filter-bar {
            display: flex;

            .select-filter {

                label {
                    color: @buttonColor;
                    font-weight: bold;
                    letter-spacing: .04em;
                    padding-right: 1.5em;
                }

                select {
                    appearance: none;
                    border: 1.35px solid @borderSilver;
                    color: @darkGray;
                    padding: .6em;
                    padding-right: 5em;
                    cursor: pointer;
                    background: white;
                }
            }

            .confirm-button {
                background: @buttonColor;
                border: none;
                color: white;
                font-weight: bold;
                padding: .6em 2em;
                cursor: pointer;

                svg {
                    padding-right: .6em;
                }
            }
        }
    }
</style>
