<template>
  <div id="chatRoom">
    <div class="close-button" @click="hideChat">
      X
    </div>
    <div class="message-room">

      <div class="item" v-for="record in messages">
        <div class="message" :class="record.userUuid === $route.meta.user.uuid ? 'own' : ''">
              {{ record.householdName }}: {{ record.message }}
        </div>
      </div>


    </div>
    <form @submit.prevent="submit" class="comments" v-if="isVisible">
      <textarea v-model="message" placeholder="Vaše zpráva..">
      </textarea>
      <div class="button">
        <div class="btn">
          <input type="submit" value="Odeslat" />
        </div>
      </div>
    </form>
  </div>

</template>

<script>
import { db } from '@/firebase'

export default {
    name: 'Chat',
    data: function () {
        return {
          offer: null,
          image: "",
          message: "",
          isVisible: true,
          messages: []
        }
    },
    methods: {

        submit() {
            let values = {
                message: this.message,
                householdId: this.$route.meta.user && this.$route.meta.user.householdId
            };
            db.ref("/chat").push(values)
        },
        hideChat(){
          this.$parent.visibleChat = false
        }
    },
    created: function () {
        db.ref("/chat").limitToLast(10).on("value", (snapshot) => {
            this.messages = snapshot.val()
            Object.values(this.messages).forEach( (val, idx) => {
                db.ref("/household/" + val.householdId).on("value", function (snapsh) {
                    val.householdName = JSON.parse(JSON.stringify(snapsh.val().name))
                })
            } )
        })
    },

}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
  @import (once) "../main.less";
  @chattingHeight: 4em;

  #chatRoom{
    width: 80%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: white;
    z-index: 42;

    .close-button{
      position: absolute;
      right: 0;
      top: -37px;
      border: 1px solid black;
      background-color: white;
      padding: 1em;
      padding-bottom: 0.5em;
      padding-top: 0.5em;
    }

    .message-room{
      height: calc(100% - @chattingHeight);
      overflow: scroll;
      overflow-x: hidden;

      .item{

        min-height: 50px;
        width: 100%;
        display: flex;
        position: relative;



        .message{
          width: 350px;
          height: 100%;
          align-self: center;
          position: absolute;
          left: 0;
          background-color: @chatLightgray;
          margin: 2em;

          display: flex;

          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          border-radius: 20px;




          &.own{
            float: right;
            right: 0 !important;
            left: unset;

          }
        }

      }

    }

    form.comments{
      height: @chattingHeight;
      display: flex;
      flex-direction: row;
      textarea{
        width: 100%;
        height: 2em;
      }
      .add-comment{
        display: flex;
        flex-direction: row;


      }
    }
  }
</style>
