<template>
      <div class="content">
        <div class="texts">
          <h3>
              <router-link :to="'/domacnost/' + householdId">
                {{ household }}
              </router-link>
          </h3>
          <div class="text">
            {{ message }}
          </div>
        </div>
      </div>
</template>

<script>
import { db } from '@/firebase'

export default {
    name: 'Komentar',
    props: {
        household: String,
        message: String,
        householdId: String
    },
    created: function () {
        console.log("ddd", this.household, this.message)
    }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
  @import (once) "../main.less";
  .comment{
    display: flex;
    min-height: 100px;
    flex-direction: column;
    padding-bottom: 1em;
    border-bottom: 1px solid @lightGray;

    .content{
      display: flex;
      flex-direction: row;
      .texts{
        display: flex;
        flex-direction: column;
      }
    }
    .text{
    }
  }


</style>
