<template>
  <div class="offer">
    <div class="offer-detail">
      <div class="gallery">
        <div class="big">
          <img :src="url">{{url}}
        </div>
      </div>
      <div class="properties">
        <table>
          <tbody>
            <tr>
              <td>Uživatel</td>
              <td>
                <router-link :to="'/domacnost/' + offer.householdId">
                {{ offer.householdName }}
                </router-link>
              </td>
            </tr>
            <tr>
              <td>Název</td>
              <td>{{ offer.name }}</td>
            </tr>
            <tr>
              <td>Lokace</td>
              <td>{{ offer.locality }}</td>
            </tr>
            <tr>
              <td>Vyměna/darovani</td>
                <td>{{ offer.payment }}</td>
            </tr>
            <tr>
              <td>Množství</td>
              <td>{{ offer.amount }}</td>
            </tr>
            <tr>
              <td>Expirace</td>
              <td>{{ offer.expire }}</td>
            </tr>
          </tbody>
        </table>
        <PridatKomentar :uuid="uuid" :allow-hiding="true" v-if="offer.comments.length === 0 ">
        </PridatKomentar>
      </div>

    </div>

    <div class="comments" v-if="showComments">
      <h4>Komentáře</h4>
      <div class="comment tady" v-for="(item, index, idx) in this.offer.comments" :key="index">
        <Komentar :household="item.householdName" :message="item.message" :householdId="item.householdId" >

        </Komentar>
        <PridatKomentar :uuid="uuid" v-if="idx === (Object.values(offer.comments).length - 1)">

        </PridatKomentar>
      </div>
    </div>
  </div>
</template>

<script>
import { db, storage } from '@/firebase'
import PridatKomentar from "./PridatKomentar";
import Komentar from '@/components/Komentar'


export default {
    name: 'Nabidka',
    components: {PridatKomentar, Komentar},
    props: {
        showComments: Boolean,
        uuid: String
    },
    data: function () {
        return {
          offer: {},
            url: ""
        }
    },
    methods: {
        fetchOne: async function () {
          let ref= db.ref("/offer/" + this.uuid);
          ref.on("value", (snapshot) => {
              this.offer = snapshot.val();
              console.log("offera ? ", this.offer)
              db.ref("/household/" + this.offer.householdId).on("value", async (snapsh) => {
                  //todo: magicke vytvareni prazneho pole, nemazat
                  if(!this.offer.comments){
                      this.offer.comments = []
                  }
                  console.log("magie", snapsh.val().name) //todo: nikdy nemazat, nikdy.. nikdy..
                  this.offer.householdName = JSON.parse(JSON.stringify(snapsh.val().name))

              })



              Object.values(this.offer.comments).forEach( (val, idx) => {
                  db.ref("/household/" + val.householdId).on("value", function (snapsh) {
                      val.householdName = JSON.parse(JSON.stringify(snapsh.val().name))
                  })
              } )
          })
        }
    },
    created() {
        this.fetchOne()
    }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
  @import (once) "../main.less";


  .tady{
      width: 80%;
      align-self: center;
      margin: auto;
  }
    .offer-detail{
      display: flex;
      .gallery{
        @galleryWidth: 220px;

        width: @galleryWidth;
        height: 150px;
        display: flex;
        flex-direction: column;
        .big{
          height: 120px;
          display: flex;

          img{
            width: @galleryWidth;
            height: 120px;

          }
        }
        .little{
          display: flex;
          flex-direction: row;
          height: 150px - 120px;

          img{
            max-width: 100%;
            max-height: 100%;
            width: @galleryWidth;
          }
        }
      }
    }
  .comments{
    .comment{
      display: flex;
      min-height: 100px;
      flex-direction: column;
      padding-bottom: 1em;
      border-bottom: 1px solid @lightGray;


      .content{
        display: flex;
        flex-direction: row;
        .texts{
          display: flex;
          flex-direction: column;

        }

      }



      img{
        width: 80px;
        max-height: 100px;

      }
      .text{
      }
    }
  }
  .spacer{
    display: flex;
    flex: 1;
  }

</style>
