<template>
  <div class="offer">
    <div class="offer-detail">
      <div class="properties">
        <table>
          <tbody>
            <tr>
              <td>Název</td>
              <td>{{ this.offer.name }}</td>
            </tr>
            <tr>
              <td>Zpráva</td>
              <td>{{ this.offer.message }}</td>
            </tr>
          </tbody>
        </table>
        <div class="create-comment" v-if="!this.offer.message">
          <input type="text" placeholder="Odpovědět..">
        </div>
      </div>

    </div>
    <PridatKomentar :uuid="uuid" :allow-hiding="true">

    </PridatKomentar>
    <div class="comments" v-if="showComments">
      <h2>Komentáře</h2>
      <div class="comment" v-for="(item, index) in this.offer.comments" :key="index">
        <Komentar :household="item.householdName" :message="item.message">

        </Komentar>
        <PridatKomentar :uuid="uuid" :disable-images="true">

        </PridatKomentar>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from '@/firebase'
import PridatKomentar from "./PridatKomentar";
import Komentar from '@/components/Komentar'


export default {
    name: 'Napad',
    components: {PridatKomentar, Komentar},
    props: {
        showComments: Boolean,
        uuid: String
    },
    data: function () {
        return {
          offer: null
        }
    },
    methods: {
        fetchOne: function () {
          let ref= db.ref("/idea/" + this.uuid);
          ref.on("value", (snapshot) => {
              this.offer = snapshot.val();
              db.ref("/household/" + this.offer.householdId).on("value", (snapsh) => {
                  this.offer.householdName = JSON.parse(JSON.stringify(snapsh.val().name))
              })

              Object.values(this.offer.comments).forEach( (val, idx) => {
                  db.ref("/household/" + val.householdId).on("value", function (snapsh) {
                      val.householdName = JSON.parse(JSON.stringify(snapsh.val().name))
                  })
              } )
          })
        }
    },
    created() {
        this.fetchOne()
    }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
  @import (once) "../main.less";


    .offer-detail{
      display: flex;

    }
  .comments{
    .comment{
      display: flex;
      min-height: 100px;
      flex-direction: column;
      padding-bottom: 1em;
      border-bottom: 1px solid @lightGray;


      .content{
        display: flex;
        flex-direction: row;
        .texts{
          display: flex;
          flex-direction: column;

        }

      }



      img{
        width: 80px;
        max-height: 100px;

      }
      .text{
      }
    }
  }
  .spacer{
    display: flex;
    flex: 1;
  }
</style>
