<template>
  <form @submit.prevent="submit" class="comments" v-if="isVisible">
      <hr>
      Přidat komentář:
      <div class="add-comment">
      <input type="file" v-if="disableImages" />
      <!--todo: znovuzobrazit obrazek-->
      <textarea v-model="message">
      </textarea>
    </div>
    <div class="button">
      <div class="btn">
        <input type="submit" value="Komentovat" />
      </div>
    </div>

  </form>
</template>

<script>
import { db } from '@/firebase'

export default {
    name: 'PridatKomentar',
    props: {
        uuid: String,
        allowHiding: Boolean,
        disableImages: Boolean
    },
    data: function () {
        return {
          offer: null,
          image: "",
          message: "",
          isVisible: true
        }
    },
    methods: {

        submit() {
            let values = {
                message: this.message,
                image: this.image,
                householdId: this.$route.meta.user && this.$route.meta.user.householdId
            };
            db.ref("/offer/" + this.uuid + "/comments").push(values)
            if(this.allowHiding)
              this.isVisible = false
        }
    }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
  @import (once) "../main.less";

  .comments{
    .add-comment{
      display: flex;
      flex-direction: row;


    }
  }

  .create-comment{
    width: 100%;
    display: flex;
    input{
      width: 100%;
      color: red;
    }
  }

  textarea{
      width: 100%;
  }

</style>
