<template>
  <main id="app">
    <Chat v-if="visibleChat">

    </Chat>
    <vue-headful :title="title"/>
    <nav id="mainNav">
      <div class="nav-item">
        <router-link class="gray-mainnav" to="/">
          <img src="./assets/logo.svg" alt="redkvicka">
        </router-link>
      </div>
      <span class="flex-spacer"></span>
      <div v-if="householdId" class="nav-item">
        <router-link class="gray-mainnav background" to="/kamsik">
          <font-awesome-icon :icon="['far', 'calendar-plus']"/>
        </router-link>
        <a class="gray-mainnav background" v-on:click="showChat">
          <font-awesome-icon :icon="['fas', 'envelope']"/>
        </a>
        <div class="background">
          <router-link class="gray-mainnav" :to="{ name: 'domacnost', params: { domacnostId: householdId } }">
            <font-awesome-icon :icon="['fas', 'home']"/>
            <span>{{ userName }}</span>
          </router-link>
          <router-link class="gray-mainnav" to="/odhlaseni">
            <span>Odhlásit se</span>
          </router-link>
        </div>
      </div>
      <div v-else class="nav-item background">
        <router-link class="gray-mainnav" to="/prihlaseni"><span>Přihlášení</span></router-link>
        <router-link class="gray-mainnav" to="/registrace"><span>Registrace</span></router-link>
      </div>
    </nav>
    <article>
      <router-view/>
    </article>
  </main>
</template>

<script>
  import VueHeadful from 'vue-headful'
  import fontawesome from '@fortawesome/fontawesome';
  import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
  import fasolid from '@fortawesome/fontawesome-free-solid';
  import faregular from '@fortawesome/fontawesome-free-regular';
  import Chat from '@/components/Chat.vue'

  fontawesome.library.add(fasolid, faregular);

  export default {
    name: "App",
    components: {
        VueHeadful,
        FontAwesomeIcon,
        Chat
    },
      data: function () {
          return {
              visibleChat: false

          }
      },
      methods: {
          showChat(){
              this.visibleChat = !this.visibleChat
          },
    },
    computed: {

      title(){
        return this.$route.meta.title + " | Hackathon"
      },
      householdId(){
        return this.$route.meta.user && this.$route.meta.user.householdId
      },
      userName(){
        return this.$route.meta.user && this.$route.meta.user.name
      }
    },
  }
</script>

<style lang="less">
  @import "./main.less";

  body, html {
    margin: 0 !important;
  }

  nav#mainNav {
    padding: 0 4em;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .gray-mainnav {
      color: white;
      font-size: 18px;
      text-decoration: none;
      font-weight: bold;
      letter-spacing: .04em;

        &:hover{
            color: silver;
        }

      img {
        height: 60px;
      }

      span {
        margin-left: .8em;
        font-size: 15px;
        color: white;

          &:hover{
            color: silver;
          }
      }

      svg {

        font-size: 20px;
        vertical-align: middle;
      }
    }
  }
  .background{
    background-color: @buttonColor;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 0.4em;
    padding-right: 0.8em;
    padding-left: 0.8em;
    margin-left: 0.5em;

  }

  .nav-item{
    display: flex;
  }
</style>
