@darkGray: #59595A;
@lightGray: #A9A8A8;
@borderSilver: #e0e0e0;
@panelSkyBold: #31B1b8;
@imageBackground: #fafafa;
@buttonColor: #e8338b;
@buttonGreenColor: #94c11f;

@chatLightgray: lightgray;

* {
  font-family: "roboto";
}

a, a:link, a:visited{
  color: @panelSkyBold;
}
body{
  background-image:   url("./assets/background.svg");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.flex-spacer {
  flex: auto;
}

article{
  display: flex;
  justify-content: center;
}

//tabulky - rightcol leftcol
.centered{
  width: 600px;
  //min-height: 650px;
  display: flex;
  flex-direction: column;
  align-self: center;

  input[type=text]{
    width: 10em;
  }
  select{
    width: 11.5em;
  }

  .form-content{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-self: center;
  }
  .right-col{
    width: 50%;
    justify-content: baseline;
    display: flex;
    flex-direction: column;


  }
  .left-col{
    width: 50%;
    justify-content: baseline;
    display: flex;
    flex-direction: column;
    img{
      width: 250px;
      height: 250px;
    }

  }

  .inputs{
    display: flex;
    flex-direction: row;

    align-self: center;
  }

}

.login-signup {
  width: 1000px;

  h2 {
    margin-left: 2em;
    color: @buttonColor;
    font-size: 30px;
    letter-spacing: .04em;
  }

  .wrapper {
    width: 100%;
    position: relative;
    background: white;
    border: 1px solid @borderSilver;
    padding: 4em 3em;
    display: flex;
    color: @darkGray;
    margin-bottom: 2em;

    form {

      .row {
        margin-bottom: 2em;
        display: flex;
        line-height: 42px;

        label {
          width: 110px;
        }

        input[type="text"], input[type="email"], input[type="password"], textarea {
          border: 1.3px solid @borderSilver;
          padding: .8em 1.2em;
          color: @darkGray;
        }

        textarea {
          padding: .8em 1.78em;
          height: 100px;
          resize: none;
        }

        input[type="submit"]{
          appearance: none;
          margin-left: auto;
          background-color: @buttonColor;
          color: white;
          border: none;
          padding: 1em 3.5em;
          font-size: 14px;
          font-weight: bold;
          letter-spacing: .04em;
          cursor: pointer;
        }
      }
    }
  }
}

.button {
  .btn{
    float: right;

    //width: 250px;
    height: 2em;
    background-color: @buttonColor;
    display: flex;
    justify-content: center;
    padding-right: 10px;
    padding-left: 10px;
    color: white;

    &.green{
      background-color: @buttonGreenColor;
      margin-right: 2em;
    }

    svg{
      align-self: center;
    }

    input{

      background-color: @buttonColor;


      &.green{
        background-color: @buttonGreenColor;
      }
      border: 0;
      color: white;


    }
  }
}
